.login__section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, yellow, pink, pink, rgb(55, 0, 75));
  display: flex;
  justify-content: center;
  align-items: center;

  .login {
    width: 600px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    position: relative;
    padding-top: 80px;
    color: white;
    .user__img {
      position: absolute;
      top: -40%;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: contain;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      width: 100%;
      input {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        outline: none;
        height: 50px;
      }
      .password__input {
        display: flex;
        align-items: center;
        background: white;
        border-radius: 5px;
        width: 100%;
        gap: 10px;
        height: 50px;
        input {
          border: none;
          background: transparent;
        }
        button {
          font-size: 22px;
          color: black;
          width: 10%;
        }
      }
      .remember__input {
        display: flex;
        align-items: center;
        gap: 50px;
        input {
          width: 20px;
          height: 20px;
          border: none;
          background: transparent;
          outline: none;
        }
        p {
          text-wrap: nowrap;
        }
      }
      button {
        width: 200px;
        height: 50px;
        border-radius: 20px;
        background: transparent;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.2);
        border: none;
        margin: 0 auto;
        font-size: 20px;
        color: white;
      }
      a {
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}
